h1 {
    text-align: center;
  }
  table {
    table-layout: fixed;
    width: 90%;
  }
  table caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
  }
  th,
  td {
    text-align: center;
  }