{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>ログイン</h1>
  <form
    method="post"
    class="p-4 m-4 bg-white border border-success rounded form-group"
  >
    {% csrf_token %} {% for error in form.errors.values %} {{ error }}
    {%endfor%}
    <label for="username">ユーザーID</label>
    <input class="form-control" name="username" />
    <label for="password">パスワード</label>
    <input type="password" class="form-control" name="password" />
    <button type="submit" class="btn btn-success mt-4">ログインする</button>
  </form>
</div>
{% endblock content %}
