{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'bj/css/home.css' %}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=crown"
/>
{% endblock head %} {% block content %}
<div class="container">
  <h1 class="mt-5">ブラックジャックアプリへようこそ！</h1>
  <a
    href="{% url 'bj:lobby' request.user.id %}"
    class="btn btn-primary float-end m-3"
  >
    プレイする →
  </a>
  <table class="table">
    <caption>
      <span class="material-symbols-outlined align-middle">
        crown
        </span>
      ランキング
    </caption>
    <tr>
      <th>順位</th>
      <th>ユーザー名</th>
      <th>チップ数</th>
      <th>勝利</th>
      <th>敗北</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.chip }}</td>
      <td>{{ user.win }}</td>
      <td>{{ user.lose }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">ユーザーがいません。</td>
    </tr>
    {% endfor %}
  </table>
  <div class="d-flex flex-column justify-content-center align-items-center"> 
    <p class="align-center">・</p>
    <p class="align-center">・</p>
    <p class="align-center">・</p>
</div>
<table class="table">
  <tr>
    <td> {{ rank }} </td>
    <td> {{ request.user.username }} </td>
    <td> {{ request.user.chip }} </td>
    <td> {{ request.user.win }} </td>
    <td> {{ request.user.lose }} </td>
  </tr>
</table>
</div>
{% endblock content %}
