{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>ターン開始</h1>
<p>
    <span class="material-symbols-outlined align-bottom">
    poker_chip
    </span> {{ bet }} チップ をかけて勝負！
</p>
<div class="d-flex justify-content-around">
    <div class="d-inlin">
        <h6>あなたのハンド</h3>
        {% for hand_path in player_hand_img %}
        <img src="{% static hand_path %}" alt="画像">
        {% endfor %}
        <p> {{ player_sum }}  </p>
        <a href="{% url 'bj:hit' %}" class="btn btn-primary">HIT</a>
        <a href="{% url 'bj:result' room.id %}" class="btn btn-primary">STAND</a>
    </div>
    <div class="d-inline">
        <h6>ディーラーのハンド</h6>
    <img src="{% static dealer_hand_img.0 %}" alt="画像">
    <p class="p-2"> ? </p>
    </div>
</div>
{% endblock content %}